<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Regression Suite" verbose="1" parallel="methods" thread-count="3" data-provider-thread-count="3">
    <listeners>
        <listener class-name="com.saucedemo.core.TestListener"/>
        <listener class-name="com.saucedemo.core.RetryTransformer"/>
    </listeners>

    <test name="SauceDemo UI Tests">
        <classes>
            <class name="com.saucedemo.tests.PurchaseFlowTest"/>
        </classes>
    </test>

</suite>
